Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~
URxvt.font : xft:Inconsolata:pixelsize=14
URxvt*background: [70]#000000
URxvt*foreground: #FFFFFF
URxvt*.depth: 32
URxvt*.intensityStyles: true
URxvt*iso14755: False
URxvt*colorUL: #FFFFFF0
*.saveLines : 4096
*.scrollBar : false
*.dynamicColors : true
*.multiScroll : true
